
h1{
    color:red;}
p{
    color: blue;}
#Parrafo2{
    color:orange;}
#Parrafo3{
    color:green;}
.subtitulo{                                 
    color:white;
    background:black;
}                      
